[Unit]
Description=Replacement graphite API server.
Documentation=https://github.com/go-graphite/carbonapi
After=network-online.target local-fs.target
Wants=network-online.target local-fs.target

[Service]
Type=simple
ExecStart=/usr/bin/carbonapi -config /etc/carbonapi.yaml
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
